@page
@model IndexModel
@{
    ViewData["Title"] = "Konwerter walut free";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronce z konwerterem walut</h1>
    <h3>Mamy tu <a href="/Waluty/Index">KONWERTER WALUT</a>.</h3>
    <h5><a href="/Waluty/Index">zapraszamy do skorzystania z konwertera walut</a></h5>
    <h6>Link do konwertera walut:</h6>
    <a href="/Waluty/Index"><img src="~/Obrazki/kantor.png" /></a>
</div>
